@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: #13274F;
    font-family: 'Quicksand', sans-serif;
}
section {
    
    justify-content: center;
    display: flex;
    
    
}

section h1{
    text-align: center;
    padding: 5px;
    font-size: 30px;
}

.login{
    margin-top: 5%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px;
    color: white;
    border-radius: 10px;
    width: calc(40% + 10px);
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form input[type="email"],
input[type="password"]{
    height: 36px;
    padding: 10px;
    margin-bottom: 20px;
    align-items: center;
    width: 50%;
    background-color:rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: white;
    border: solid 2px;
}
form label{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    margin-bottom: 10px;
    font-size: 20px;
    
}
input[type="submit"] {
    
    padding: 7px;
    margin-bottom: 10px;
    width: 50%;
    font-size: 20px;
    cursor: pointer;
    background-image: linear-gradient(to right, #0f12c0 0%, #0a1a75 0%);
    border:solid 3px transparent;
    color: white;
    border-radius: 10px;
}
form a{
    color:white;
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    width: 50%;
    font-size: 17px;
}
/* cadastro de produtos */

#form-produto {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px;
    color: white;
    border-radius: 10px;
    width: calc(40% + 10px);
    margin: 20px auto; /* Ajustando a margem para centralizar o formulário */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input[type="text"],
input[type="url"],
input[type="number"] {
    height: 36px;
    padding: 10px;
    margin-bottom: 20px;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: white;
    border: solid 2px;
}

form label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    margin-bottom: 10px;
    font-size: 20px;
}

input[type="submit"] {
    padding: 7px;
    margin-bottom: 10px;
    width: 70%;
    font-size: 15px;
    cursor: pointer;
    background-image: linear-gradient(to right, #0f12c0 0%, #0a1a75 0%);
    border: solid 3px transparent;
    color: white;
    border-radius: 10px;
}
#formInsert{
    margin-top: 5%;
    border-top: solid white 2px;

}

.divAdmin{
padding: 10px;
margin-top: 2%;

}
.formsAdmin{
    margin-top: 5%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px;
    color: white;
    border-radius: 10px;
    width: calc(40% + 10px);
}

.divAdmin i{
    padding: 7px;
    margin-bottom: 10px;
    font-size: 30px;
    width: auto;
    background-color: white;
    border-radius: 10px;
}
.divAdmin button{
background: transparent;
border: none;
margin-left: 2%;
cursor: pointer;
}
.container{
    display: flex;
    justify-content: space-around;
}
/* Tabela de produtos */

.container {
    text-align: center;
    margin-top: 5%;
}

.user-list {
    background-color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 600px;
    margin: 0 auto;
    color:white;
}

.user-list h1 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
}




@media (max-width:768px){
    .login{
        width: 80%;
    }
    .formsAdmin{
        width: 70%;
    }

}

@media (max-width:425px){
    input [type="submit"]{
        width: 100%;
        font-size: 15px;
    }
    .user-list{
        width: 80%;
    }

}