@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: #13274F;
    height: 2000px;
    
}
html{
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
    margin-left: 5%;
    box-shadow: black;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    padding: 20px;
    text-align: center;
    color: #fff;
    box-shadow: 0px 8px 15px rgba(33, 33, 230, 0.6);
}
header img {
    max-width: 85%;
    max-height: 120px;

}
.btnMobile{
    display: none;
    border: none;
    background-color: transparent;
}


.btnDiv {
    background-color: transparent;
    padding: 5px;
    color: white;
    font-size: 23px;
    border: transparent;
    font-family: 'Quicksand', sans-serif;
    margin-right: 40px;

}

.btnHome {
    background-color: transparent;
    padding: 5px;
    color: #a5daff;
    font-size: 23px;
    border: transparent;
    font-family: 'Quicksand', sans-serif;
    margin-right: 40px;
}

.btnCadastro {
    background-color: white;
    border: none;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Quicksand', sans-serif;
    background-image: linear-gradient(to right, #0f12c0 0%, #0a1a75 0%);
    /* Define a cor inicial do background */
    background-size: 0% 100%;
    /* Define o preenchimento inicial (0%) do background na direção horizontal */
    background-repeat: no-repeat;
    transition: background-size 0.5s;
    cursor: pointer;

}
.btnCadastro:hover {
    background-size: 100% 100%;
    color: white;
}

.btnDiv:hover {
    background-color: rgba(128, 128, 128, 0.7);
    transition: background 1s ease;
    border-radius: 2px;


}



.sobre {
    margin-top: 5%;
    display: flex;
    justify-content: center;
   width: 100%;

}

.sobre-h1 span {
    display: flex;
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 25px;
}

.sobre-span {
    display: flex;
    flex-direction: column;
   padding: 10px;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
   
}

.btnSobre {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Centraliza o conteúdo do botão horizontalmente */
    border: none;
    background: none;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 20px;
    margin-top: 40px;
    background-color: white;
    background-image: linear-gradient(to right, #0f12c0 0%, #0a1a75 0%);
    /* Define a cor inicial do background */
    background-size: 0% 100%;
    /* Define o preenchimento inicial (0%) do background na direção horizontal */
    background-repeat: no-repeat;
    transition: background-size 0.5s;
}

.btnSobre:hover {
    background-size: 100% 100%;
    color: white;
    cursor: pointer;
}
.btnSobre i{
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-left: 5px ;
}
.treinos{
    margin-left: 5%;
    margin-right: 5%;
}

.treinos h1{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 3%;
    font-size: 40px;
    color: white;
   
    
    
}
.div-container{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 20%;
    height: 280px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    
}
.box:hover{
    background-color: #0a1a75;
    transition: all .5s ease;
}

.box h2{
    text-align: center;
    color: white;
}
.box img{
    margin: 15px;
}
.box h3{
    color: white;
    padding: 5px;
}
.box p{
    color: white;
    margin-top: 10px;
}
.btnNutri{
    float: right;
    margin-right: 10%;
    margin-top: 10%;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    
}
.btnNutri:hover{
    background-color: gray;
    transition: all .5 ease;
}
.aviso{
    justify-content: center;
    text-align: center;
    align-items: center;
    color: red; 
    font-size: 20px;
    
}
.marcas{
    margin-top: 2%;
    display: flex;
    gap: 5rem;
    justify-content: center;
}
.marcas img{
    width: 200px;
}

.div-value{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.btnValue{
    background-color: red;
    border: none;
    padding: 10px;
    margin-top: 10px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.planos li{
    color: white;
    align-items: center;
    
}
.planos li::before{
    content: "\2022";
    font-size: 20px;
    color: white;
    padding-right: 5%;
}
.planos h1{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 3%;
    font-size: 40px;
    color: white;
   
}
.div-back i{
    position: fixed;
    bottom: 20px;
    right: 20px; 
    padding: 10px;
    position: fixed;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
}
.IMC {

  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.IMC .header {
  margin-top: 3%;
  font-size: 25px;
  color: white;
  
}

.container {
  margin-top: 3%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  margin-top: 5px;
  text-align: center;
  border-radius: 10px;
}

#form-imc label {
  display: flex;
  
  margin-bottom: 5px;
}

#form-imc input {
  display: flex;
  width: 30%;
  align-items: center;
  padding: 5px;
  margin-bottom: 10px;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  border: solid 2px rgb(19, 62, 253);
  color: white;

 
}

.btnIMC {
  display: flex;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

#resultado {
  margin-top: 20px;
  background-color: red;
  color: white;
  padding: 10px;
  font-weight: bold;
  width: 100%;
}
footer {
    margin-top: 10%;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

footer i {
    font-size: 30px;
    padding: 10px;

}

/* Media Query @ */

@media (max-width:1920px){
.sobre{
   
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    justify-content: center;
    align-items: center;
    display: flex;

}
.marcas img{
    width: 245px;
}
.box{
    width: 20%;
    height: 320px;
}
.box p {
   font-size: 21px; 
}
.box h3{
    font-size: 27px;
}
.box img{
    height: 42px;
}
.aviso span{
    font-size: 26px;
}
.planos li{
    font-size: 22px;
}
#form-imc label{
    font-size: 25px;
}
#form-imc input{
    margin-left: 25%;
    margin-right: 25%;
    padding: 8px;
    width: 50%;
    font-size: 20px;
}
.sub-header{
    font-size: 22px;
    flex-direction: column;
}
.btnIMC{
    font-size: 25px;
}
#resultado{
    font-size: 25px;
}
footer{
    margin-top: 5%;
}
footer h2{
    font-size: 30px;
}
footer i{
    font-size: 42px;
}
footer p{
    font-size: 27px;
}
.div-back i {
    font-size: 35px;
}

}

@media (max-width:1440px){
.marcas img{
    width: 230px;

    }
    .box h3{
        font-size: 22px;
    }
.box p{
    font-size: 20px;
}
.aviso span{
    font-size: 25px;
}
.planos li{
    font-size: 20px;
}
footer{
    margin-top: 10%;
}
footer h2{
    font-size: 30px;
}
footer i{
    font-size: 40px;
}
footer p{
    font-size: 23px;
}
.div-back i {
    font-size: 32px;
}

}
@media (max-width:1336px){
    .marcas img{
        width: 220px;
    
        }
        .box h3{
            font-size: 20px;
        }
    .box p{
        font-size: 19px;
    }
    .aviso span{
        font-size: 22px;
    }
    .planos li{
        font-size: 20px;
    }
    footer{
        margin-top: 10%;
    }
    footer h2{
        font-size: 30px;
    }
    footer i{
        font-size: 40px;
    }
    footer p{
        font-size: 23px;
    }
    .div-back i {
        font-size: 32px;
    }
}
@media (max-width:1320px){
   .btnMobile{
    display: flex;
    padding: .5rem 1rem;
    cursor: pointer;
   }
   
   .menu{
    display: block;
    position: absolute;
    width: 100%;
    background-color: #16387a;
    right: 0px;
    margin-top: 10px;
    flex-direction: column;
    padding: 20px;
   z-index: 1000;
   height: 0;
   transition: .6s;
   visibility: hidden;
   overflow-y: hidden;
   }
   .div-btn.active .menu {
    display: flex;
    height: 100vh;
    visibility: visible;
    overflow-y: auto;
}
   .menu a,button{
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
   }
   
.btnMobile img{
   display: block;
   max-width: 60px;

}


}
